@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
.form-range
{
    margin-right: 10px;
}
.container
{
    border-radius: 10px;
}
h1
{
    font-weight: bold;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}
p
{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}
.btn
{
    --bs-btn-padding-x: 5px;
    --bs-btn-padding-y: 5px;
    font-family: 'Open Sans', sans-serif;
}
.btn-primary
{
    margin-right: 5px;
}
.btn-secundary
{
    margin-left: 5px;
}
.imagem
{
    text-align: center;
}
.form-label
{
    font-family: 'Open Sans', sans-serif;
}
.container
{
    margin-top: 23vh;
}
body
{
    background-color: rgba(0, 0, 0, 0.1);
}
.indicador-seguranca
{
    height: 10px;
    background-color: #ddd;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    margin-bottom: 10px;
}
.indicador-seguranca .barra
{
    height: 10px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    transition: all 0.2s;
}
.indicador-seguranca .barra.completo
{
    border-top-right-radius: 0;
}
.indicador-seguranca .barra.critico
{
    background-color: red;
}
.indicador-seguranca .barra.aviso
{
    background-color: yellow;
}
.indicador-seguranca .barra.sucesso
{
    background-color: green;
}
#mensagem-copiada{
    display: none;
    justify-content: center;
    color: green;
    margin-top: 10px;
}